.cover-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  background-color: #fff;
  transform: translateX(-100%);
  transition: 0.5s;
  opacity: 0;
  will-change: transform;
}

.cover-panel.active {
  opacity: 1;
  transform: translateX(0);
}

.back-btn {
  content: "";
  position: fixed;
  z-index: 10000;
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
  padding: 0;
  font-weight: normal;
  background: transparent;
  opacity: 0;
}

.back-btn span {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #222;
  transform-origin: left;
}
.back-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 60%;
  height: 1px;
  background: #222;
  transform: rotate(-45deg);
  transform-origin: left;
}

.back-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 60%;
  height: 1px;
  background: #222;
  transform: rotate(45deg);
  transform-origin: left;
}

.project-view {
  overflow: hidden;
  height: 100vh;
}

.project-header {
  opacity: 0;
  padding: 4rem 0 1rem;
  transform: translateX(50px);
  transition: 0.5s 1s;
}

.project-header h1 {
  font-size: 7vw;
  margin-top: 2rem;
}

.project-view-content {
  padding: 1rem 0;
}
.project-view-desc {
  position: relative;
  z-index: 100;
  line-height: 1.6;
  transition: 0.5s 1.3s;
}

.project-view-desc p {
  margin-bottom: 1em;
}
.cover-panel.active .project-header {
  opacity: 1;
  transform: translateY(0);
}
.cover-panel.active .project-desc {
  opacity: 1;
  transform: translateY(0);
}
.cover-panel.active .back-btn {
  opacity: 1;
  transform: translateX(0);
}
.cover-panel.active .slider {
  opacity: 1;
  transform: translateY(0);
}
.cover-panel.close .project-header {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.2s;
  transition-delay: 0.4s;
}
.cover-panel.close .project-desc {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.25s;
  transition-delay: 0.2s;
}
.cover-panel.close .slider {
  opacity: 0;
  transform: translateY(50px);
  transition-delay: 0s;
}
.cover-panel.close .back-btn {
  opacity: 0;
  transform: translateX(-50px);
  transition-duration: 0.25s;
  transition-delay: 0.6s;
}

/* slide  */
.slider {
  height: 200px;
  width: 90%;
  border: 5px solid #222;
  position: relative;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
}

.slide-list {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 1050px;
  transition: 0.5s;
}

.slide-item {
  width: 100%;
  float: left;
}

.slide-item img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateY(170px);
}

@media (min-width: 600px) {
  .project-view-content {
    display: flex;
    padding: 1rem 20px 5rem;
  }
  .project-header h1 {
    margin-bottom: 0.5em;
  }

  .project-view-desc {
    padding: 20px;
  }

  .slider {
    height: 200px;
    width: 500px;
    margin: 0;
  }

  .slide-list {
    position: absolute;
    left: 0;
    top: 0;
    transform: 0.5s;
  }

  .slide-item img {
    height: auto;
    max-width: 100%;
  }
}
