html {
  font-size: 16px;
  color: #222;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

body.lock {
  overflow: hidden;
}

a {
  color: #222;
}

button {
  font-size: 1rem;
  border: 0;
  cursor: pointer;
}

.page {
  line-height: 2;
}

/* header */

.header {
  margin-bottom: 80vh;
}

.title {
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-img {
  max-width: 300px;
  margin-bottom: 20px;
}

.paragraph {
  padding: 20px;
}

/* scorll content */

.scorll-content {
  position: relative;
}

.scroll-item {
  height: 100vh;
  padding-top: 1px;
}

.content-title {
  display: flex;
  padding: 1em 0;
  line-height: 1.2;
  flex-direction: column;
  font-size: 9vw;
  font-weight: bold;
}

.content-btn {
  background-color: #222;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-weight: bold;
}

/* panel */

.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 550px;
  transition: 0.5s opacity;
  z-index: -100;
}

.panel-list {
  transform-style: preserve-3d;
  transition: 1s;
  will-change: transform;
}

.panel-item {
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  opacity: 0.3;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.panel-item.active {
  opacity: 1;
}

.panel.done {
  position: static;
  margin-top: -100vh;
}
.panel-side img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  mix-blend-mode: luminosity;
}

.copyright {
  margin-top: 1rem;
  font-size: 0.7rem;
  text-align: center;
}

/* loader */

@keyframes loader-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  opacity: 0;
  transition: 0.5s;
  background-color: #fff;
}

.loader-event {
  overflow: hidden;
}

.loader-event .loader {
  opacity: 1;
}

.loader-ring {
  width: 30px;
  height: 30px;
  border: 5px solid #222;
  border-color: #222 transparent transparent;
  border-radius: 50%;
  animation: loader-ani 1s infinite linear;
}

@media (min-width: 960px) {
  .paragraph {
    width: 900px;
    margin: 0 auto;
  }
  .width-setter {
    width: 900px;
    margin: 0 auto;
  }

  .panel-side img {
    opacity: 0.5;
  }

  .scroll-list {
    width: 900px;
    margin: 0 auto;
  }

  .content-title {
    font-size: 5rem;
  }
  .content {
    width: 60%;
  }
}

@media (min-width: 1240px) {
  .width-setter {
    width: 1200px;
  }
  .scroll-list {
    width: 1200px;
  }
  .paragraph {
    width: 1200px;
  }
}
